#wrapper
{
  position:relative;
  margin:10px auto;
  width:1350px;
}

#left
{
  float:left;
  width:250px;
  height:800px;
}

#center 
{
  float:left;
  margin-left:10px;
  width:800px;
  border-left:0px solid black;
  border-right:0px solid black;
  -moz-box-shadow: 0px 0px 12px #000;
  -webkit-box-shadow: 0px 0px 12px #000;
  box-shadow: 0px 0px 12px #000;
  height:800px;
}

#right
{
  position:relative;
  float:left;
  margin-left:10px;
  width:280px;
  height:800px;
  overflow-y: scroll;
}

#display
{
  width:800px;
  height:800px;
  background-color:black;
  float:right;
}

#display img {
	width:inherit;
	opacity: 0;
}

#transparency {
  z-index:-5;
  position:fixed;
  top:0px;
  bottom:0px;
  width:100%;
  margin:0px auto;
  background:-webkit-gradient(linear, left top, left bottom, from(#c78740), to(#d7a163));
  background: -moz-linear-gradient(top, #c78740, #d7a163);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c78740, endColorstr=#d7a163);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#c78740, endColorstr=#d7a163)";
  opacity:.5;
}

#right img
{
  position:relative;
  clear:right;
  margin-bottom:25px;
  width:250px;
  border:none;
  background-color:gray;
  -moz-box-shadow: 1px 0px 4px #000;
  -webkit-box-shadow: 1px 0px 4px #000;
  box-shadow: 1px 0px 4px #000;
}

#right img:hover {
  left:3px;
  bottom:3px;
  -moz-box-shadow: 3px -2px 5px #000;
  -webkit-box-shadow: 3px -2px 5px #000;
  box-shadow: 3px -2px 5px #000;
  cursor:pointer;
}

p {
    margin:10px;
    font-size:large;
}

.rightSidebar {
    padding-top:140px;
}