dl
{
  margin:0px;
}

dt
{
  position:relative;
  padding-top:250px;
  width:250px;
  background-color:gray;
  -moz-box-shadow: -1px 0px 4px #000;
  -webkit-box-shadow: -1px 0px 4px #000;
  box-shadow: -1px 0px 4px #000;
}

dt:hover {
  right:3px;
  bottom:3px;
  -moz-box-shadow: -3px -2px 5px #000;
  -webkit-box-shadow: -3px -2px 5px #000;
  box-shadow: -3px -2px 5px #000;
}

dd
{
  margin-bottom:25px;
}
/*
#hollow
{
   background:url('../images/sidebar/hollow.png') 
}

#semiHollow
{
   background:url('../images/sidebar/semiHollow.png')
}

#solid
{
   background:url('../images/sidebar/solid.png')
}
*/