body
{
    position:relative;
    margin:0px;
    margin-top:15px;
    font-family:sans-serif;
	background-image:url("../img/background - flame-maple.jpg");
	background-size:cover;
    background-color:#e9d0b6;
}

#header
{
    text-align:center;
}